This program uses GMail to send emails.
You will need to create a .env file at the base folder of this program with variables GMAIL_ADDRESS and GMAIL_APP_PASSWORD to use the email service provided by this program.

How to get an app password:
1. Go to 'manage you google account'
2. Under 'security' add 2-step verification (if you have not already)
3. Go to https://myaccount.google.com/apppasswords
4. Create a new app specific password (you may choose whatever name you want)

-----Copy content below into a file titled .env with different values for GMAIL_ADDRESS and GMAIL_APP_PASSWORD-----
GMAIL_ADDRESS="example@gmail.com"
GMAIL_APP_PASSWORD="example app password"